{% extends "layout.html" %} {% block content %}
<div class="container medium pad_20 flex_col width align gap_20">
    <h1>you need a password to continue!</h1>
    <form method="post" class="width gap_20 align flex_col">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input
            class="width"
            type="password"
            name="password"
            id="password"
            placeholder="enter paste password"
            required
        />
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <div>
            <button type="submit">unlock</button>
        </div>
    </form>
</div>
{% endblock %}
