{% extends "layout.html" %} {% block content %}
<div class="container medium">
    <p>
        this is where you can add a password to your paste, incase you don't
        want prying eyes!
        <b>this can always be removed or added at any time.</b>
    </p>
    <p>
        please note the password is stored in your session. you'll have to clear
        your cache if you want to test it!
    </p>
    <div class="flex_col gap_10">
        <form
            method="post"
            action="{{ url_for('paste.update_paste_password', paste_id=paste.id) }}"
            class="width flex_col gap_10 align-flex_2"
        >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input
                type="password"
                name="new_password"
                id="new_password"
                placeholder="enter paste password"
                required
            />
            <button class="btn" type="submit">add paste password</button>
        </form>

        <form
            method="post"
            action="{{ url_for('paste.remove_paste_password', paste_id=paste.id) }}"
        >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button class="btn" type="submit">remove paste password</button>
        </form>

        <a href="{{ url_for('paste.view_paste', paste_id=paste.id) }}"
            ><button class="btn">cancel</button></a
        >
    </div>
</div>
{% endblock %}
