{% extends "layout.html" %}

{% block content %}
<div class="container largeish pad_20 text align center">

    <a href="{{ url_for('admin.generate_invite') }}">
        get some more
    </a>

    {% if codes %}

    <table class="width">
        <thead>
            <tr>
                <th>CODE</th>
                <th>USED?</th>
                <th>USED BY WHOM</th>
                <th>CREATED @</th>
                <th>ACTIONS</th>
            </tr>
        </thead>

        <tbody>
            {% for code in codes %}
            <tr>
                <td>
                    <code>{{ code.code }}</code>
                </td>

                <td>
                    {% if code.used %}
                        <p>yesss</p>
                    {% else %}
                        <p>nopo</p>
                    {% endif %}
                </td>

                <td>
                    {% if code.used_by_user %}
                        <a href="{{ url_for('user.profile', username=code.used_by_user.username) }}">{{ code.used_by_user.username }} ({{ code.used_by }})</a>
                    {% elif code.used_by %}
                        {{ code.used_by }}
                    {% else %}
                        NOT YET! (or deleted user)
                    {% endif %}
                </td>

                <td>
                    {% if code.created_at %}
                        {{ code.created_at.strftime("%Y-%m-%d %H:%M") }}
                    {% endif %}
                </td>

                <td>
                    <form
                        action="{{ url_for('admin.delete_invite_code', code_id=code.id) }}"
                        method="post"
                        style="display: inline"
                    >
                        <input
                            type="hidden"
                            name="csrf_token"
                            value="{{ csrf_token() }}"
                        />

                        <button
                            class="btn btn-danger"
                            type="submit"
                            onclick="return confirm('are you sure you want to delete this invite code?');"
                        >
                            delete
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}

    <p>NO CODES YET!!!!!!!!</p>

    {% endif %}

</div>
{% endblock %}