{% extends 'layout.html' %} {% block content %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div class="container medium">
            <h1>accept new terms</h1>
            <p>
                the <a href="https://miaw.cc/privacy">privacy policy</a> or
                <a href="https://miaw.cc/terms">terms of service</a> has been
                updated! by continuing to use the site, and clicking the button
                below, you agree to these changes. it's recommended that you
                read them carefully.
            </p>
            <form method="POST">
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                />
                <button class="btn" type="submit">accept</button>
            </form>
        </div>
        <script>
            document
                .querySelector("form")
                .addEventListener("submit", function (e) {
                    if (!document.getElementById("accept").checked) {
                        e.preventDefault();
                        alert("you must accept the terms to continue.");
                    }
                });
        </script>
        {% endblock %}
    </body>
</html>
