<!doctype html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:type" content="website" />
        <meta name="theme-color" content="#8a8a8a" />
        <title>{% block title %} miaw.cc {% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/base.css') }}"
        />
        <link
            rel="icon"
            href="{{ url_for('static', filename='favicon.webp') }}"
        />
    </head>
    <body>
        <header class="space flex align">
            <div class="dropdown" id="myDropdown">
                <div class="dropbtn" id="dropbtn">
                    {% include 'svgs/menu.html' %}
                </div>
                <div class="dropdown-content" id="dropdownContent">
                    <a href="{{ url_for('paste.view_paste', paste_id='info') }}"
                        >info</a
                    >
                    <a href="{{ url_for('paste.index') }}">create</a>
                    {% if current_user.is_authenticated %}
                    <a
                        href="{{ url_for('user.profile', username=current_user.username) }}"
                        >profile</a
                    >
                    <a href="{{ url_for('paste.dashboard') }}">dashboard</a>
                    {% endif %} {% if current_user.is_authenticated and
                    current_user.is_admin %}
                    <hr>
                    <a href="{{ url_for('admin.audit_logs') }}">audit logs</a>
                    <a href="{{ url_for('admin.ip_management') }}"
                        >ip manager</a
                    >
                    <a href="{{ url_for('admin.invite_codes') }}"
                        >invite codes</a
                    >
                    <hr>
                    {% endif %} {% if current_user.is_authenticated %}
                    <!-- YO YO WHATS UP i know this is here dw -->
                    <!-- remove it or join it! idc just dont share it :) thanks -->
                    <a href="https://discord.gg/ZUdzYrJjnQ">discord</a>
                    <a href="{{ url_for('user.logout') }}">logout</a>
                    {% if paste is defined and request.endpoint ==
                    'paste.view_paste' %}
                    <hr id="hr-2" />
                    <a href="{{ url_for('paste.reclaim', paste_id=paste.id) }}"
                        >reclaim</a
                    >
                    <a href="{{ url_for('paste.report', paste_id=paste.id) }}"
                        >report</a
                    >
                    {% endif %} {% else %}
                    <a href="{{ url_for('user.login') }}">login</a>
                    <a href="{{ url_for('user.register') }}">register</a>
                    {% endif %}
                </div>
            </div>
            <div class="align">
                {% if paste is defined and request.endpoint ==
                'paste.view_paste' %} {% include "svgs/e2r.html" %} {% endif %}
                {% include "svgs/theme_toggle.html" %}
            </div>
        </header>

        {% block content %}{% endblock %}
        <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
        <script src="{{ url_for('static', filename='js/e2r.js') }}"></script>
        <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
        {% if paste is defined %}
        <script>
            window.pasteContentJSON = {{ paste.content|tojson|safe }};
        </script>
        {% endif %}
    </body>
</html>
