{% extends "layout.html" %} {% block content %}
<div class="container medium">
    <form
        id="changePasswordForm"
        method="POST"
        class="width flex_col gap_10 align-flex_2"
    >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input
            class="width"
            type="password"
            id="current_password"
            name="current_password"
            placeholder="enter current password"
            required
        />
        <input
            class="width"
            type="password"
            id="new_password"
            name="new_password"
            placeholder="enter new password"
            required
        />
        <input
            class="width"
            type="password"
            id="confirm_password"
            name="confirm_password"
            placeholder="confirm new password"
            required
        />
        <button class="btn" type="submit">change password</button>
    </form>
</div>

<div id="popup">
    <span id="popup-message"></span>
    <br />
    <br />
    <button class="btn" onclick="hidePopup()">close</button>
</div>

<script>
    document
        .getElementById("changePasswordForm")
        .addEventListener("submit", function (e) {
            e.preventDefault();

            fetch("{{ url_for('user.change_password') }}", {
                method: "POST",
                body: new FormData(this),
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        showPopup("password changed successfully!");
                        setTimeout(() => {
                            window.location.href = data.redirect_url;
                        }, 1500);
                    } else {
                        showPopup(data.error);
                    }
                })
                .catch((error) => {
                    showPopup("an unexpected error occurred!");
                    console.error("error:", error);
                });
        });
</script>
{% endblock %}
